$primary: #ffaf1b;

body {
    background-color: $primary !important;
    font-family: 'Verdana' !important;

}

.center-offset {
    transform: translate(-50%, -50%);
}

.always-top {
    z-index: 1000;
    pointer-events: none; /* No poner en botones ya que deshabilita el click */
}
.always-top button {
    pointer-events: auto;
}
.always-top input {
    pointer-events: auto;
}
.center-page {
    position: fixed;
    top: 50%;
    left: 50%;
}
.debug-panel {
    margin: 1em;
    border-radius: 1em;
    background-color: rgba(255, 255, 255, 0.5);
    color: #000;
}

@import "node_modules/bootstrap/scss/bootstrap.scss";